In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/ann/230121_ann.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,tweet_id,text,author_id,username,like_count,retweet_count
0,2023-01-22 01:00:00,1616827961990328322,#annkw,1212899447593529345,LTwoosOHISAMA,138,0
1,2023-01-22 01:00:00,1616827965161238530,#annkw,1470703682887237637,takeokome0442,16,0
2,2023-01-22 01:00:00,1616827965257691143,#annkw,1268937496861134848,timeline_39,83,0
3,2023-01-22 01:00:00,1616827965270294528,#annkw,1487462552,ashuringobeam,11,0
4,2023-01-22 01:00:00,1616827965282877441,#annkw,1509547571873980419,ArthurVairuLFTK,10,0
...,...,...,...,...,...,...,...
10283,2023-01-22 03:03:59,1616859165200351232,モアイやん #annkw https://t.co/c25izyu5AY,2489746920,9Yozakura,1,0
10284,2023-01-22 03:04:24,1616859270187995138,春日のほのぼの家庭話(説明長い)、車の購入を検討する春日、DayDayもう1人のMC、山ちゃ...,414138125,mumu6677,2,0
10285,2023-01-22 03:04:29,1616859289368559617,久々にハチャメチャな若林さん聴けて嬉しかった。月曜日からどんより続いていたけど少し元気出た。...,1263685174593638401,1041051_2,5,0
10286,2023-01-22 03:04:40,1616859338131542017,OneTalkはランダムな人と通話ができます!! 一期一会の会話ができます!! 嫌な人は簡単...,1339594009451249664,ngongoaa,0,0
10287,2023-01-22 03:04:42,1616859344959844353,多分お松さんは(‘ω’)に何かしら話はしたと思うけど、オードリーらしい送り出し方でよかった ...,886512728604422144,takarhythm3,3,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet   like
0    2023-01-22 01:00:00    661  14996
1    2023-01-22 01:01:00    292   2260
2    2023-01-22 01:02:00    214   1016
3    2023-01-22 01:03:00    124    519
4    2023-01-22 01:04:00    107    308
..                   ...    ...    ...
120  2023-01-22 03:00:00     95    289
121  2023-01-22 03:01:00     42    183
122  2023-01-22 03:02:00     14     51
123  2023-01-22 03:03:00     14   4905
124  2023-01-22 03:04:00      4     10

[125 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')