In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/experiment1/thetrad/220124_thetrad.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

              created_at                                               text
0    2022-01-24 15:00:00                                           #THETRAD
1    2022-01-24 15:00:01                                           #THETRAD
2    2022-01-24 15:00:01                                           #THETRAD
3    2022-01-24 15:00:01                              １５時！#tokyofm #THETRAD
4    2022-01-24 15:00:01                                           #THETRAD
...                  ...                                                ...
2069 2022-01-24 16:49:42         つよぽんとの様子、何となく想像がつきました😂#THETRAD #稲垣吾郎 #吉田明世
2070 2022-01-24 16:49:43                                   さようなら〜👋 #THETRAD
2071 2022-01-24 16:49:48  ----商品価格:1,980円----✨本日のトレンド✨壮馬くんたばこ注意諏訪部さん#THE...
2072 2022-01-24 16:49:50  黒沢さん面白かった✨今度、森三中の3人でななにーに遊び来ないかな😊#黒沢かずこ #稲垣吾郎#...
2073 2022-01-24 16:49:59  吾郎ちゃん今日はたくさんラジオ生出演お疲れ様でした🙌とっても楽しく一日を過ごせました！また明...

[2074 rows x 2 columns]

In [3]:
c_df = df.set_index('created_at').resample('T').count()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values})
cnt

              created_at  tweet
0    2022-01-24 15:00:00     31
1    2022-01-24 15:01:00     17
2    2022-01-24 15:02:00     56
3    2022-01-24 15:03:00     60
4    2022-01-24 15:04:00     94
..                   ...    ...
105  2022-01-24 16:45:00     42
106  2022-01-24 16:46:00     23
107  2022-01-24 16:47:00     17
108  2022-01-24 16:48:00     11
109  2022-01-24 16:49:00     19

[110 rows x 2 columns]

In [4]:
filename =  "count_all.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')

In [5]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/experiment1/thetrad/220124_thetrad_exp1.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by='created_at', ascending=True, inplace=True)
df = df.reset_index(drop=True)
df

             created_at                                               text
0   2022-01-24 16:16:02     村治佳織さんの演奏 ハウルの曲ね❤️💗#THETRAD #稲垣吾郎 #SMAP #新しい地図
1   2022-01-24 16:16:02  中川さんのお仕事ラッドは今日が最後なのね来週からは先週、お仕事ラッドのリポートをされた安藤さ...
2   2022-01-24 16:16:12                  好き人生のメリーゴーランド今朝もテレビで聞いたな…#THETRAD
3   2022-01-24 16:16:33  THE TRAD │ TOKYO FMhttps://t.co/87sJQBEkm2#rad...
4   2022-01-24 16:16:46  ハウルゥゥゥゥゥ❤️実質きむごろですね❤️💗#THETRAD にたっきゅん来ればいいのに…I...
..                  ...                                                ...
450 2022-01-24 16:34:48                       『夢で逢えたら』めっちゃ好きだったー！！#THETRAD
451 2022-01-24 16:34:49  森三中の村上さんがお煎餅をバリバリ吾郎店長の隣で食べてたのを見てた黒沢さん｡村上さんに注意を...
452 2022-01-24 16:34:49        夢で逢えたら面白かったねその枠に夢がMORIMORIが入ったんだよね #THETRAD
453 2022-01-24 16:34:51                   懐かしー ミポリンのデビュー曲😊全然歌えるわ😁 #THETRAD
454 2022-01-24 16:34:53  毎度お騒がせします楽しかったな～C-C-Bの、ロマンティックが止まらないが主題歌だったね#T...

[455 rows x 2 columns]

In [6]:
c_df = df.set_index('created_at').resample('T').count()
cnt = pd.DataFrame(
    {'created_at': c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet': c_df['text'].values})
cnt

             created_at  tweet
0   2022-01-24 16:16:00      5
1   2022-01-24 16:17:00      3
2   2022-01-24 16:18:00      2
3   2022-01-24 16:19:00      7
4   2022-01-24 16:20:00     18
5   2022-01-24 16:21:00     20
6   2022-01-24 16:22:00     31
7   2022-01-24 16:23:00     37
8   2022-01-24 16:24:00     32
9   2022-01-24 16:25:00     30
10  2022-01-24 16:26:00     30
11  2022-01-24 16:27:00     40
12  2022-01-24 16:28:00     31
13  2022-01-24 16:29:00     28
14  2022-01-24 16:30:00     40
15  2022-01-24 16:31:00     27
16  2022-01-24 16:32:00     24
17  2022-01-24 16:33:00     28
18  2022-01-24 16:34:00     22

In [7]:
filename = "count_exp1.csv"
cnt.to_csv(filename, encoding='utf-8-sig')