In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/ann/220116_annkw.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,tweet_id,text,author_id,username,like_count,retweet_count
0,2022-01-16 01:00:00,1482382064015921157,#annkw,1243496195193884672,wx6XkjKMcpj99yk,29,0
1,2022-01-16 01:00:00,1482382066574512128,#annkw,965974369343164421,moushachou,28,0
2,2022-01-16 01:00:00,1482382066746462210,#annkw,2721308791,yanchal_meimei,10,0
3,2022-01-16 01:00:00,1482382066822316032,ニチレイプレゼンツ！！ #annkw,2683444536,were_wolf_chan,14,0
4,2022-01-16 01:00:00,1482382066830381060,#annkw,1429108520796889091,Salmon_Flake46,4,0
...,...,...,...,...,...,...,...
10449,2022-01-16 03:04:15,1482413333026590721,若さんが禁煙を始めてくれたならば、しっかりとコレを見守り折に触れチェックを促さないと…！ ...,215046589,Robin_xiv,1,0
10450,2022-01-16 03:04:15,1482413334460731392,死んやめがなかったのは今週は仕方ないな #annkw #jolf,375573346,0331KenTo,1,0
10451,2022-01-16 03:04:41,1482413441919090690,動画までツイートしてくれるの珍しい ありがてえ… #annkw,1125432863371907073,uradiote,3,0
10452,2022-01-16 03:04:52,1482413489805152256,ミッフィーちゃん 夢股ディオス #annkw,962125665003700224,Smallust4,3,0
10453,2022-01-16 03:04:56,1482413508499472386,"----商品価格:4,180円---- ✨本日のトレンド✨ #SixTONESANN 火山...",1111792188529115136,maki0506c,0,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet   like
0    2022-01-16 01:00:00    799  18816
1    2022-01-16 01:01:00    277   2323
2    2022-01-16 01:02:00    110    751
3    2022-01-16 01:03:00    199   1559
4    2022-01-16 01:04:00    213    840
..                   ...    ...    ...
120  2022-01-16 03:00:00     64    239
121  2022-01-16 03:01:00     33   4560
122  2022-01-16 03:02:00     21  15711
123  2022-01-16 03:03:00     15     19
124  2022-01-16 03:04:00      6     10

[125 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')