In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/tama/220120_tama.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,text,author_id,username,like_count,retweet_count
0,2022-01-20 13:00:04,#tama954🟣(木曜),863003082954645504,miiyan1182,3,0
1,2022-01-20 13:00:18,赤江さんの後輩もこの冬いっぱい滝行したよ。 阪神V逸で #tama954,1210428970522443776,Noiseless_Noisy,0,0
2,2022-01-20 13:00:32,外商の顧客の方！さすがスーさん！ #so954 #tama954,482992075,ayaaya077,0,0
3,2022-01-20 13:00:41,金あったころのスー家は外商の営業が来ていたと。 #so954 #tama954,899647676043583490,nakakyou3,1,0
4,2022-01-20 13:00:45,ウチの実家も羽振りの良い時は西武百貨店の外商入ってました。 #生活は踊る #tama954,1020593202007498753,O1s72fLuAbgydmD,0,0
...,...,...,...,...,...,...
1775,2022-01-20 15:31:14,ひとりごと：１年後アメリカが生きてるとは思えないなぁと、、、まぁ地球まるごとだけど。 #t...,155949926,n_kotatu,1,0
1776,2022-01-20 15:31:22,うちの大学は学籍番号を書いて出してたなあ。書く紙を多めに取って代返し放題だったが #tam...,1210428970522443776,Noiseless_Noisy,0,0
1777,2022-01-20 15:31:29,たまちゃん『Oculusのおかげで我々時計を使わなかったね』ECCカッターのためにもタイマー...,3262736684,kawasister,0,0
1778,2022-01-20 15:31:40,お疲れさまでしたー #tama954,899647676043583490,nakakyou3,0,0
1779,2022-01-20 15:32:19,うまい！（棒） #tama954 https://t.co/O8fBu6JkmG,1898062195,otonosuzu,1,1

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet  like
0    2022-01-20 13:00:00      9     6
1    2022-01-20 13:01:00     12    10
2    2022-01-20 13:02:00     14    11
3    2022-01-20 13:03:00     17    18
4    2022-01-20 13:04:00     15    11
..                   ...    ...   ...
148  2022-01-20 15:28:00     11     6
149  2022-01-20 15:29:00      9     6
150  2022-01-20 15:30:00      6     0
151  2022-01-20 15:31:00      4     1
152  2022-01-20 15:32:00      1     1

[153 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')