In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/ann/220206_annkw.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,tweet_id,text,author_id,username,like_count,retweet_count
0,2022-02-06 01:00:00,1489992209349120000,#annkw,1162987872443486208,hina_toooth,15,0
1,2022-02-06 01:00:00,1489992212352212992,#annkw,1292073874411020289,Taku_ohisama,18,0
2,2022-02-06 01:00:00,1489992212318658563,#annkw,1293207577929506820,number_zerotwo,27,0
3,2022-02-06 01:00:00,1489992212285112320,#annkw,1352678541612072961,lFE1S7ivcxtwYqL,35,0
4,2022-02-06 01:00:00,1489992212276387841,#annkw,1211713732356608000,soWLpyCj2ygD58Z,3,0
...,...,...,...,...,...,...,...
31848,2022-02-06 03:04:52,1490023633108238336,#annkw 2人とも娘さんだからいつか日向坂入れてくれないかな笑笑,929986547843088385,niimaru_95,1,0
31849,2022-02-06 03:04:52,1490023633590583296,2週間ぶりの2人のトーク、最高すぎた。 改めて土曜の夜がこんなにも大切だったんだって認識しま...,1271762974558978049,naonaonao_777,1,0
31850,2022-02-06 03:04:57,1490023654595260419,良い回でした #annkw,155843114,koo_ta0123,0,0
31851,2022-02-06 03:04:57,1490023657615540224,よく。 春日さんは子供が出来てから 変わった!って話しを いろんな番組でしてたけど 若林さん...,1352518025589608453,J6cp9UNhY2hjKxo,2,0
31852,2022-02-06 03:04:59,1490023663613407232,結婚の時はタイムフリーだったけど、リアタイすると衝撃がすごいな ほんとに春日と同じ反応になる...,1131496183484932096,rL2vcOq1zT1mQWB,1,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet   like
0    2022-02-06 01:00:00   1395  33753
1    2022-02-06 01:01:00    932   4602
2    2022-02-06 01:02:00    627   4413
3    2022-02-06 01:03:00    369   1084
4    2022-02-06 01:04:00    225    978
..                   ...    ...    ...
120  2022-02-06 03:00:00    249   1764
121  2022-02-06 03:01:00    130    759
122  2022-02-06 03:02:00     72    179
123  2022-02-06 03:03:00     51     97
124  2022-02-06 03:04:00     40    100

[125 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')