In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/ann/220109_annkw.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,tweet_id,text,author_id,username,like_count,retweet_count
0,2022-01-09 01:00:00,1479845349225537536,#annkw #オードリー #若林正恭 #春日俊彰,126317054,ssfinalfrontier,22,0
1,2022-01-09 01:00:00,1479845352266420224,#annkw,979641364588589057,46plus14,40,0
2,2022-01-09 01:00:00,1479845352249430019,#annkw,1238478134430683137,radikenann,60,0
3,2022-01-09 01:00:00,1479845352211906560,#annkw,1397564198675042305,hihisuhihisu,9,0
4,2022-01-09 01:00:00,1479845352207695880,土曜の夜(あけおめ) #annkw,590051590,Tyrrell_NHS46,4,0
...,...,...,...,...,...,...,...
11302,2022-01-09 03:04:01,1479876561067462656,表デルヤを久々に聴けてなんだか嬉しかった。今年もよろしくお願いします。 #annkw,414138125,mumu6677,0,0
11303,2022-01-09 03:04:09,1479876594261172225,@upgrade_japan #annkw お疲れ様でございます♪,735598631282057216,radio8163,0,0
11304,2022-01-09 03:04:15,1479876618533634048,お疲れ様でした ミッフィーちゃん、アディオス！ #annkw,710746603498266624,hfws_us,1,0
11305,2022-01-09 03:04:26,1479876665014894594,スペシャルウィークゲストの時のコットン、最高に面白かった！！ #annkw,1169409718806179840,oto73642910,0,0
11306,2022-01-09 03:04:50,1479876765355225088,"----商品価格:22,000円---- ✨本日のトレンド✨ #ワールドトリガー #ann...",1111792188529115136,maki0506c,0,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet   like
0    2022-01-09 01:00:00    902  23323
1    2022-01-09 01:01:00    404   2806
2    2022-01-09 01:02:00    225   2279
3    2022-01-09 01:03:00    165    504
4    2022-01-09 01:04:00    133    457
..                   ...    ...    ...
120  2022-01-09 03:00:00     68    228
121  2022-01-09 03:01:00     20   2694
122  2022-01-09 03:02:00     15    120
123  2022-01-09 03:03:00     10      4
124  2022-01-09 03:04:00      5      1

[125 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')