In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/ann/221218_ann.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,tweet_id,text,author_id,username,like_count,retweet_count
0,2022-12-18 01:00:00,1604144386757267456,#annkw,1202582968562094081,LT_ushihopan,54,0
1,2022-12-18 01:00:00,1604144390020046849,‰ªäÂπ¥ÊúÄÂæå„ÅÆ„Å≤„Å®„Å§„Çà„Åó„Å™„Å´ #annkw,1314789003195891717,leciel_mazda,13,0
2,2022-12-18 01:00:00,1604144390053646336,#annkw,3301611030,shogo6447,8,1
3,2022-12-18 01:00:00,1604144390108127232,#annkw,483875545,5K5s3K1,3,0
4,2022-12-18 01:00:00,1604144390116499456,#annkw,1451582898709020673,Itigou_itigo,115,0
...,...,...,...,...,...,...,...
6524,2022-12-18 03:04:47,1604175790509527040,„Åæ„ÅüÊù•Âπ¥ÔºÅ„Éü„ÉÉ„Éï„Ç£„Éº„Å°„ÇÉ„ÇìÔºÅ„Ç¢„Éá„Ç£„Ç™„ÇπÔºÅ #annkw,759712056245313536,rioneruz,3,0
6525,2022-12-18 03:04:49,1604175800462618624,„ÅÇ„Åß„ÅÉ„Åä„Åô #annkw,1319135862941126658,1523177823g,3,0
6526,2022-12-18 03:04:50,1604175803293794304,„Çπ„Ç´„Ç∑Ëä∏‰∫∫ü§£ü§£üëèüëè #annkw,1512967174083985415,titanokinta,4,0
6527,2022-12-18 03:04:50,1604175805449240576,„Ç≠„É•„Éº„ÉêÊú¨„ÅÆ„Å®„Åç„ÅÆ„Ç§„É≥„Çø„Éì„É•„Ç¢„Éº„Å®ÂÜç‰ºö„Åó„ÅüËã•Êûó„ÄÅBS„ÅÆÁï™ÁµÑ„ÄÅËã•Êûó„ÅÆË°ó„Éñ„É©„ÄÅÈñ¢Êù±„Çπ„Ç´„Ç∑Ëä∏‰∫∫„Éë„Éº...,414138125,mumu6677,0,0
6528,2022-12-18 03:04:56,1604175827347726336,„Éü„ÉÉ„Éï„Ç£„Éº„Å°„ÇÉ„Çì„Ç¢„Éá„Ç£„Ç™„Çπ ËâØ„ÅÑ„ÅäÂπ¥„Çí„Éº #annkw,1445735011773079560,little_takosuke,3,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values})
cnt

              created_at  tweet
0    2022-12-18 01:00:00    599
1    2022-12-18 01:01:00    285
2    2022-12-18 01:02:00    154
3    2022-12-18 01:03:00    101
4    2022-12-18 01:04:00    107
..                   ...    ...
120  2022-12-18 03:00:00     69
121  2022-12-18 03:01:00     32
122  2022-12-18 03:02:00     21
123  2022-12-18 03:03:00     10
124  2022-12-18 03:04:00      9

[125 rows x 2 columns]

In [4]:
filename =  "count_all.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')